# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.venv
/.idea
/Scene_Description_Generator/flickr30k/
/PROJECTS/mainstream/Scene_Description_Generator/flickr30k/
/PROJECTS/mainstream/ai_analyst_assistant1/ai_assistant.log
/PROJECTS/LOCAL/image classifier feedback/
/RL/p2/mountaincar_q_table.npy
/PROJECTS/mainstream/senti/data/test.csv/test.csv
/.
/PROJECTS/mainstream/maltrafdect
/genai/lora/
/genai/lora/qlora_adapters/
/genai/lora/qlora_finetuned_model/
/genai/lora/faq.csv
/genai/lora/qa_dataset.json
/genai/lora/sample.pdf
/genai/pdfq/sample.pdf
/PROJECTS/mainstream/maltrafdect/bilstm_ids_best.pt
/PROJECTS/mainstream/maltrafdect/bilstm_ids_best_improved.pt
/PROJECTS/mainstream/kernellog/BGL.log
/PROJECTS/mainstream/kernellog/processed_bgl.pkl
/PROJECTS/mainstream/maltrafdect/UNSW_NB15_training-set.csv
/PROJECTS/mainstream/maltrafdect/UNSW_NB15_testing-set.csv
/PROJECTS/mainstream/senti/gru/gru_toxic_model.pt
/PROJECTS/mainstream/senti/lstm/bilstm_toxic_model.pt
/PROJECTS/mainstream/senti/gru/gru_vocab.pt
/PROJECTS/mainstream/senti/pre/best_toxicity_model.pt
/PROJECTS/mainstream/senti/transformer/mini_transformer_toxic_model.pt
/PROJECTS/mainstream/kernellog/1/best_model_checkpoint.pth
/PROJECTS/mainstream/kernellog/0/best_lstm_model.pth
/PROJECTS/mainstream/kernellog/1/training_artifacts.pkl
/PROJECTS/mainstream/senti/data/train.csv/train.csv
/PROJECTS/mainstream/kernellog/0/scaler.pkl
/requirements.txt
/PROJECTS/mainstream/kernellog/1/processed_bgl.pkl
/PROJECTS/mainstream/kernellog/0/lstm_model.pth
/PROJECTS/mainstream/kernellog/1/bgl_training.log
/PROJECTS/mainstream/kernellog/0/anomaly_results.pkl
/genai/RL/qlora_dpo_flan_t5/checkpoint-2/adapter_config.json
/genai/RL/qlora_dpo_flan_t5
/genai/RL/dpo_flan_t5
