# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.venv
/.idea
/Scene_Description_Generator/flickr30k/
/PROJECTS/mainstream/Scene_Description_Generator/flickr30k/
/PROJECTS/mainstream/ai_analyst_assistant1/ai_assistant.log
/PROJECTS/LOCAL/image classifier feedback/
/RL/p2/mountaincar_q_table.npy
